<div class="main-cont column">
    <div (click)="showDetail(message.id)" *ngFor="let message of messages" class="message-box column">
        <h2>{{message.title}}</h2>
        <p>{{message.body | cutLargeText:[150, '...']}}</p>
    </div>
</div>