$titleColor : #3b3b3bd6;
$bodyColor : #535353cf;;
$bgColor : #cacaca;;

body {
    font-family: sans-serif;
}
.column {
    display: flex;
    flex-flow: column;
}
.row {
    display: flex;
    flex-flow: row;
}
h2 {
    color: $titleColor;
}
p {
    color: $bodyColor;
}
.main-cont {
    background-color: $bgColor;
    align-items: center;
    justify-content: center;
    padding : 20px;
}